*{
     margin: 0;
     padding: 0;
     transition: 0.5s ease-in-out;
}
body{
     background-color: rgb(154, 111, 4);
}
.main{
     background-color: rgba(#ffffff);
     height: max-content;
     padding: 10%;
     margin:auto;
}
.product{
     display: flex;
     justify-content: space-between;
     width: 80%;
     height: 10%;
     align-items: center;
     padding: 50px;
     background-color:rgb(69, 0, 73);
     border-radius: 30px;
     border: 5px solid rgb(255, 191, 73);
}
.image{
     margin:0;
     padding:0;
     width: 90%;
     height: 70%;
}
.images{
     width: 250px;
     height: 300px;
     border-radius: 20px;
}
.description{
     background-color: black;
     width: max-content;
     height: 50%;
     border-radius: 20px;
     font-size: 110%;
     color: white;
     padding: 10px;
}
.whatsapp
{
    margin:auto;
    border-radius:10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height: 30px;
    width: 30px;
    background-color: white;
    margin-top: 5px;
    padding: 2px;
    transition: 0.3s ease-in-out;
}
.whatsapp:hover{
    height: 35px;
    width: 35px;
}
.whatsapp-icon{
     height: 30px;
     width: 30px;
     border-radius: 10px;
     transition: 0.3s ease-in-out;
}
.whatsapp-icon:hover{
     width: 35px;
     height: 35px;
}
@media (max-width: 800px){
     .main{
          padding: 10vh 1vw;
     }
     .product{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 60vw;
          height: max-content;
          background-color:rgb(69, 0, 73);
          border-radius: 30px;
          border: 5px solid rgb(255, 191, 73);
     }
     .image{
          width: 100vw;
          height: max-content;
     }
     .images{
          width: 200px;
          height: 250px;
          border-radius: 20px;
     }
     .description{
          margin-top: 2vh;
     }
}