.main4video{
     margin-top: 8%;
     width: 90%;
     margin-left: 2%;
     height: max-content;
     border-radius: 30px;
     background-color: rgb(255, 255, 255);
     padding: 50px;
}
.intro-videos{
     border-radius: 50px;
     background-color: rgba(255, 255, 255, 0.607);
     height: fit-content;
     padding: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 50%;
}
.photo-description p{
     color: rgb(255, 0, 0);
     font-size: 300%;
     width: max-content;
     height: fit-content;
     margin-top: 2%;
     margin-left: 5%;
}
.videoTable{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
}
.page-images{
     width: 65%;
     height: 60%;
     border-radius: 15px;
     border: 3px solid blue;
}
.page-images:hover{
     zoom: 101%;
     transition: 0.3s ease-in-out;
     rotate: 3deg;
     border: 3px solid blue;
}
.one{
     width: 60%;
     height: 50%;
     border-radius: 10px;
     margin-left: 3%;
}
.two{
     width: 52%;
     height: 50%;
     border-radius: 10px;
     margin-left: 3%;
}
.three{
     width: 42%;
     height: 50%;
     border-radius: 10px;
     margin-left: 3%;
}